@page "/adventures"

<h3>Adventures</h3>

<div>
    <AdventureList Adventures="adventures" />
</div>

@code {
    private List<Adventure> adventures;

    protected override void OnInitialized()
    {
        adventures = new List<Adventure>()
        {
            new Adventure()
            {
                Title = "The Cloud Dungeon",
                Description = "The Cloud Dungeon description"
            },
            new Adventure()
            {
                Title = "The Sunken Dungeon",
                Description = "The Sunken Dungeon description"
            }
        };
    }
}
