@page "/genres"
@inject IGenreRepository genreRepository
@attribute [Authorize]

<h3>Genres</h3>

<GenericList List="GenreList">
    <ListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead> 
            <tbody>
                @foreach (var item in GenreList)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-success">Edit</a>
                        <button class="btn btn-danger" @onclick="@(() => DeleteGenre(item.ID))">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </ListTemplate>
</GenericList>

<GenreForm Genre="genre" OnValidSubmit="CreateGenre"/>

@code {

    #region ##### HEAD #####

    private Genre genre = new Genre();
    private List<Genre> GenreList;

    #endregion

    #region ##### INIT #####

    protected override async Task OnInitializedAsync()
    {
        try
        {
            GenreList = await genreRepository.GetGenres();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    #endregion

    #region ##### CRUD #####

    private async Task CreateGenre()
    {
        try
        {
            await genreRepository.CreateGenre(genre);
            genre.Name = "";
            GenreList = await genreRepository.GetGenres(); // Updates display.
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task DeleteGenre(int id)
    {
        try
        {
            await genreRepository.DeleteGenre(id);
            GenreList = await genreRepository.GetGenres(); // Updates display.
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    #endregion

}
