@page "/"

@inject IUserFavouriteRepository userFavouriteRepository

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-xl-8">
                <img class="mb-4" style="display:block; margin:auto; width:80%;" src="https://localhost:44363\chapter\4e3cd841-d1d8-44d1-8f6c-29cfc0b4a78a.jpg" alt="Alternate Text" />

                <h4 style="text-align:center" class="mb-5">
                    Now you've gone and done it! You've only gone and stumbled into an endless world of adventure, of magic, 
                    of fierce battles, and most importantly of all, super awesome loot!'
                </h4>
            </div>

            <div class="cols-sm-6 col-xl-4">
                <div class="card my-4">
                    <div class="card-header" style="background-color: #28a745"></div>
                    <div class="card-title center mt-4">
                        <h4> Play</h4>
                    </div>
                    <div class="card-body">
                        Play through adventures alone or with friends. It's as simple as searching the library
                        and pressing play. Create an account to save your progress so you don't have to
                        complete an adventure all in one hit.
                    </div>
                    <div class="p-3">
                        <a class="btn btn-block btn-success" href="adventures">Check out the Adventures</a>
                    </div>

                </div>

                <div class="card mb-4">
                    <div class="card-header" style="background-color: #ffc107"></div>
                    <div class="card-title center mt-4">
                        <h4>Create</h4>
                    </div>
                    <div class="card-body">
                        Create your own adventures using our simple adventure design system. Use simple annotations to 
                        style your narrative and contextual help is provided along the way so there's no big instruction manual
                        to read first. 
                    </div>
                    <div class="p-3">
                        <a class="btn btn-block btn-warning" href="myprojects" style="color: white">Create a New Project</a>
                    </div>
                </div>
            </div>

        </div>
    </div>  

@code {

    #region ##### HEAD #####

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    #endregion

    #region ##### 

    #endregion

    //List<UserFavourite> userFavourites = new List<UserFavourite>();

    //protected async override Task OnInitializedAsync()
    //{
    //    var authState = await authenticationStateTask;
    //    var user = authState.User;
    //    if (user.Identity.IsAuthenticated)
    //    {
    //        _Test = user.Identity.Name;
    //        Console.WriteLine(user.Claims);
    //    }
    //    else
    //    {
    //        _Test = "The user is not authenticated.";
    //    }

    //    userFavourites = await userFavouriteRepository.GetUserFavourites();
    //}

}