@page "/account"
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>

        <h3>Account</h3>

        <p>@_UserEmail</p>

    </Authorized>
    <NotAuthorized>
        
        <LoginForm Done="UpdateAccountInfo"/>

    </NotAuthorized>
</AuthorizeView>


@* ##### ADMINISTRATION PANEL ##### *@
<AuthorizeView Roles="Admin">
    <Authorized>

        <a class="btn btn-info" href="genres">Edit Genres</a>

        <a class="btn btn-info" href="users">Edit Users</a>

    </Authorized>
</AuthorizeView>

@code {
    private string _UserEmail;

    protected async override void OnInitialized()
    {
        await UpdateAccountInfo();
    }

    public async Task UpdateAccountInfo()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _UserEmail = authState.User.Identity.Name;
    }
}
