@page "/login"

@inject IAccountRepository accountRepository
@inject ILoginService loginService

@using adventureplatform.Client.Auth

<h3>Login</h3>

<EditForm Model="userInfo" OnValidSubmit="Login">
    <DataAnnotationsValidator />

    @* ##### EMAIL INPUT ##### *@
    <div class="form-group">
        <label>Email:</label>
        <div>
            <InputText class="form-control" @bind-Value="@userInfo.Email" />
            <ValidationMessage For="@(() => userInfo.Email)" />
        </div>
    </div>

    @* ##### PASSWORD INPUT ##### *@
    <div class="form-group">
        <label>Password:</label>
        <div>
            <InputPassword class="form-control" @bind-Value="@userInfo.Password" />
            <ValidationMessage For="@(() => userInfo.Password)" />
        </div>
    </div>

    @* ##### REGISTER BUTTON ##### *@
    <button type="submit" class="btn btn-primary">Login</button>

</EditForm>

@code {
    [Parameter] public EventCallback Done { get; set; }
    private UserInfo userInfo = new UserInfo();

    private async Task Login()
    {
        var userToken = await accountRepository.Login(userInfo);
        await loginService.Login(userToken.Token);
        await Done.InvokeAsync(null);
    }

}
