@page "/adventures"
@inject IRepository repository

<h3>Adventures</h3>

<div>
    <AdventureList Adventures="adventures" />
</div>

@code {
    private List<Adventure> adventures;

    protected override void OnInitialized()
    {
        adventures = repository.GetAdventures();
    }
}
