@page "/adventures"
@inject IAdventureRepository adventureRepository

<h3>Adventures</h3>

<div>
    <AdventureList Adventures="adventures" />
</div>

@code {
    private List<Adventure> adventures;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            adventures = await adventureRepository.GetAdventures();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
