<EditForm Model="Link" OnSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    
    <div class="form-group">

        @* LINK DESCRIPTION *@
        <label>Description:</label>
        <div class="mb-4">
            <InputText class="form-control" @bind-Value="@Link.Description" />
            <ValidationMessage For="@(() => Link.Description)" />
        </div>

        @* LINK TARGET *@
        <label>Target:</label>
        @if (Link.Target == 0)
        {
            <p>No Target Selected.</p>
        }
        else
        {
            <p>@Link.Target</p>
        }

    </div>

    <button class="btn btn-success" type="submit">Save Link</button>

</EditForm>

@code {

    #region ##### HEAD #####

    [Parameter] public Link Link { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    #endregion

}
