<input type="checkbox" @bind="@isOwner" />

<div class="adventures-container">
    <GenericList List="Adventures">
        <EmptyTemplate>
            <p>There are no adventures to show.</p>
        </EmptyTemplate>
        <ElementTemplate>
            <AdventureCard Adventure="context" IsOwner="isOwner" DeleteAdventure="DeleteAdventure" />
        </ElementTemplate>
    </GenericList>
</div>

@code {
    [Parameter] public List<Adventure> Adventures { get; set; }

    bool isOwner = false;

    void DeleteAdventure(Adventure adventure)
    {
        Adventures.Remove(adventure);
    }
}
