@inject IGenreRepository genreRepository
@inject IAdventureRepository adventureRepository

    <EditForm Model="_AdventureFilterDTO">

        <div class="container">
            <div class="row">

                @* TAG INPUT *@
                <div class="col-sm-12 col-lg-4">
                    <div class="form-group">

                        <label for="tags" class="sr-only">Tags</label>
                        <input type="text" class="form-control" id="tags" placeholder="Tags"
                               @bind-value="_TagString"
                               @bind-value:event="oninput"
                               @onkeypress="@((KeyboardEventArgs e) => TagsKeyPress(e))" />

                    </div>
                </div>

                @* GENRE SELECT *@
                <div class="col-sm-12 col-lg-4">
                    <div class="form-group d-block">

                        @* GENRE SELECTION LIST *@
                        <select class="form-control" @bind="_AdventureFilterDTO.GenreID">
                            <option value="0">-- Select a Genre</option>

                            @foreach (var genre in _GenreList)
                            {
                                <option value="@genre.ID">@genre.Name</option>
                            }
                        </select>

                    </div>
                </div>

                @* FILTER BUTTONS *@
                <div class="col-sm-12 col-lg-4 mb-4">

                    @* FILTER BUTTON *@
                    <button type="button" class="btn btn-primary d-inline-block" @onclick="Filter">Filter</button>

                    @* CLEAR FILTER BUTTON *@
                    <button type="button" class="btn btn-danger" @onclick="Clear">Clear</button>

                </div>

            </div>
        </div>

    </EditForm>

    @code {

        #region ##### HEAD #####

        [Parameter] public EventCallback<AdventureFilterDTO> OnSubmit { get; set; }

        private AdventureFilterDTO _AdventureFilterDTO = new AdventureFilterDTO();
        private List<Genre> _GenreList = new List<Genre>();
        private string _TagString = "";

        #endregion

        #region ##### LIFECYCLE METHODS #####

        protected async override Task OnInitializedAsync()
        {
            try
            {
                _GenreList = await genreRepository.GetGenres();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.GetBaseException().ToString());
                Console.WriteLine("ADF001: Unable to Retrieve Genres.");
            }
        }

        #endregion

        #region ##### CALLBACK METHODS #####

        public Task Filter()
        {
            return OnSubmit.InvokeAsync(_AdventureFilterDTO);
        }

        #endregion

        #region ##### GENERAL METHODS #####

        private void TagsKeyPress(KeyboardEventArgs e)
        {
            if (e.Key == "Enter")
            {
                Filter();
            }
        }

        private void Clear()
        {
            _AdventureFilterDTO.GenreID = 0;
        }

        #endregion

    }