@inject NavigationManager navigationManager 

    <div class="individual-adventure-container">
        <h4>@Adventure.Title</h4>

        <a>
            <img src="@Adventure.Image"
                 alt="Main Image"
                 class="adventure-image" />
        </a>

        <p>@Adventure.Description</p>

        @if (IsOwner)
        {
            <div>
                <a class="btn btn-info" @onclick="NavEditProject">Edit</a>
                <button type="button"
                        class="btn btn-danger"
                        @onclick="@(() => DeleteAdventure.InvokeAsync(Adventure))">
                    Delete
                </button>
            </div>
        }
    </div>

@code {
    [Parameter] public Adventure Adventure { get; set; }
    [Parameter] public EventCallback<Adventure> DeleteAdventure { get; set; }
    [Parameter] public bool IsOwner { get; set; }

    private void NavEditProject()
    {
        navigationManager.NavigateTo($"editproject/{Adventure.ID}");
    }


}
