<div>
    <h4>Title: @Adventure.Title</h4>
    <p>Description: @Adventure.Description</p>
    @if(IsOwner)
    {
        <div>
            <button @onclick="@(() => DeleteAdventure.InvokeAsync(Adventure))">Delete</button>
        </div>
    }

</div>

@code {
    [Parameter] public Adventure Adventure { get; set; }
    [Parameter] public bool IsOwner { get; set; } = true;
    [Parameter] public EventCallback<Adventure> DeleteAdventure { get; set; }
}
