@typeparam TItem
@* WHEN LIST IS NULL *@
@if (List == null)
{
    @if (NullTemplate != null)
    {
        @NullTemplate
    }
    else
    {
        @*<img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" />*@
        <Loading />
    }
}
@* WHEN LIST IS EMPTY *@
else if (List.Count == 0)
{
    @if (EmptyTemplate != null)
    {
        @EmptyTemplate
    }
    else
    {
        <p>There are no records to show.</p>
    }
}
@* WHEN LIST IS HAS ELEMENTS *@
else
{
    @if (ElementTemplate != null)
    {
        @foreach (var element in List)
        {
            @ElementTemplate(element)
        }
    }
    else
    {
        @ListTemplate
    }
}

@code {

    #region ##### HEAD #####

    [Parameter] public RenderFragment NullTemplate { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; }
    [Parameter] public RenderFragment ListTemplate { get; set; }

    [Parameter] public List<TItem> List { get; set; }

    #endregion

}
