.individual-adventure-container {
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: left;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.individual-adventure-header {
    height:120px;
    background-color: #5cb85c;
    color: white;
}

.individual-adventure-container p {
    width: 350px;
    font-size: 15px;
    margin-top: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .individual-adventure-container h5 {
        width: 350px;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.adventure-image {
    width: 350px;
    height: 225px;
    margin-bottom: 10px;
    object-fit: cover;
}

.adventures-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-markdown {
    display: flex;
}

.form-markdown textarea {
    width: 500px;
    height: 500px;
    margin-right: 15px;
}

.form-markdown .markdown-container {
    border: 1px dashed black;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
}

.left-column {
    width: 65%;
    padding-right: 10px;
}

.right-column {
    width: 35%;
    padding: 0px 10px;
}

.full {
    width: 100%;
}

a {
    cursor: pointer;
}

.multiple-selector {
    display: flex;
}

.selectable-ul {
    height: 200px;
    overflow-y: auto;
    list-style-type: none;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 0;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    padding: 10px;
}

.create-project-button {
    width: 350px;
    align-self: flex-start;
}

.play img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-card {
    width: 80%;
    margin: 10px 30px 30px 30px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
} 