@page "/createlink"
@inject ILinkRepository linkRepository

<h3>CreateLink</h3>
<LinkForm Link="link" OnValidSubmit="SaveLink" />

@code {
    private Link link = new Link();

    private async Task SaveLink()
    {
        try
        {
            await linkRepository.CreateLink(link);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
