@page "/createchapter"
@inject IChapterRepository chapterRepository

<div class="row">
    <div class="left-column">
        <h3>Create Chapter</h3>
        <ChapterForm Chapter="chapter" OnValidSubmit="SaveChapter"/>
    </div>
    <div class="right-column">
        <h3>Links</h3>
        <div class="form-group">
            <a class="btn btn-info btn-block" href="createlink">Create New Link</a>
        </div>
    </div>
</div>


@code {
    private Chapter chapter = new Chapter();

    private async Task SaveChapter()
    {
        try
        {
            await chapterRepository.CreateChapter(chapter);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}