@page "/createchapter/{AdventureID:int}"
@inject NavigationManager navigationManager 
@inject IChapterRepository chapterRepository

<div class="row">
    <div class="left-column">
        <h3>Create Chapter</h3>
        <ChapterForm Chapter="chapter" OnValidSubmit="SaveChapter"/>
    </div>
    <div class="right-column">
        <h3>Links</h3>
        <div class="form-group">
            <a class="btn btn-info btn-block" @onclick="NavCreateLink">Create New Link</a>
        </div>
    </div>
</div>


@code {
    [Parameter] public int AdventureID { get; set; }

    private Chapter chapter = new Chapter();

    private async Task SaveChapter()
    {
        chapter.AdventureID = AdventureID;

        try
        {
            await chapterRepository.CreateChapter(chapter);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void NavCreateLink()
    {
        navigationManager.NavigateTo($"createlink/{AdventureID}/{chapter.ID}");
    }
}