@page "/createlink/{AdventureID:int}/{ChapterID:int}"
@inject ILinkRepository linkRepository
@inject IChapterRepository chapterRepository

<div class="row">
    <div class="left-column">
        <h3>CreateLink</h3>
        <LinkForm Link="link" OnValidSubmit="SaveLink" />
    </div>
    <div class="right-column">
        <div class="form-group">
            @if (chapters != null)
            {
                @foreach (var chapter in chapters)
                {
                    <a class="btn btn-warning btn-block" @onclick="SetTarget">Set xxx as Target</a>
                }
            }
        </div>
    </div>
</div>


@code {
    [Parameter] public int AdventureID { get; set; }
    [Parameter] public int ChapterID { get; set; }

    private List<Chapter> chapters;

    private Link link = new Link();

    protected async override Task OnInitializedAsync()
    {
        chapters = await chapterRepository.GetChapters(AdventureID);
    }

    private async Task SaveLink()
    {
        link.ChapterID = ChapterID;

        try
        {
            await linkRepository.CreateLink(link);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void SetTarget()
    {

    }
}
