@page "/createproject"

<h3>Create Project</h3>

<ProjectForm Project="project" OnValidSubmit="SaveProject"/>

<div class="form-group">
    <a class="btn btn-info" href="createchapter">Create New Chapter</a>
</div>

@code {
    private Adventure project = new Adventure();

    private void SaveProject()
    {
        Console.WriteLine("Project Created");
    }
}
