@page "/editchapter/{ChapterID:int}"
@inject IChapterRepository chapterRepository 

<h3>Edit Chapter</h3>

@if (chapter != null)
{
    <div class="row">
        <div class="left-column">
            <ChapterForm Chapter="chapter" OnValidSubmit="SaveChapter" />
        </div>

        <div class="right-column">
            <div class="form-group">
                <a class="btn btn-info btn-block" href="createlink">Create New Link</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public int ChapterID { get; set; }
    public Chapter chapter;

    protected async override Task OnInitializedAsync()
    {
        chapter = await chapterRepository.GetChapter(ChapterID);

        //chapter = new Chapter()
        //{
        //    ID = ChapterID,
        //    Title = "Chapter One",
        //    Description = "This is the description for The Cloud Dungeon - Chapter One"
        //};
    }

    private void SaveChapter()
    {
        Console.WriteLine("Chapter edited");
    }
}
