@page "/editlink/{LinkID:int}"
@inject ILinkRepository linkRepository 

<h3>EditLink</h3>

<LinkForm Link="link" OnValidSubmit="SaveLink" />

@code {
    [Parameter] public int LinkID { get; set; }
    public Link link;

    protected async override Task OnInitializedAsync()
    {
        link = await linkRepository.GetLink(LinkID);
    }

    private void SaveLink()
    {
        linkRepository.UpdateLink(link);
        Console.WriteLine("Link Saved");
    }
}
